* {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: black;
    color: aqua;
}

li, p {
    color: white;
}

li {
    margin-bottom:0.8rem;
}

img {
    /*restrict height to 300px*/
    height: 300px;
    width: auto;
}
